.chip-size-1 {
  
}
.chip-size-2 {
  height: 37px;
}
.chip-size-2 .mdl-chip__contact {
  height: 37px;
  width: 37px;
  line-height: 37px;
}
.chip-size-2 .mdl-chip__text {
  font-size: 15px;
}

.chip-size-3 {
  height: 42px;
}
.chip-size-3 .mdl-chip__contact {
  height: 42px;
  width: 42px;
  line-height: 42px;
}
.chip-size-3 .mdl-chip__text {
  font-size: 17px;
}

.chip-size-4 {
  height: 47px;
}
.chip-size-4 .mdl-chip__contact {
  height: 47px;
  width: 47px;
  line-height: 47px;
}
.chip-size-4 .mdl-chip__text {
  font-size: 19px;
}


.chip-size-5 {
  height: 52px;
}
.chip-size-5 .mdl-chip__contact {
  height: 52px;
  width: 52px;
  line-height: 52px;
}
.chip-size-5 .mdl-chip__text {
  font-size: 21px;
}
