<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/static/app.css">
  </head>

<html>
  <head>
    <title>Word Counter</title>
  </head>
  <body>
    {% block body %}
    {% end %}


    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>